/* .cart__bg-wrapper {
  overflow: hidden;

  background: #00000052;
  transition: opacity 0.2s ease;
}
.cart__bg-wrapper.active {
  opacity: 1;
} */
.cart {
  transform: translateX(150%);

  overflow: hidden;

  width: 100%;
  height: 100%;

  top: 0;
  right: 0;
  position: fixed;
  display: flex;
  flex-direction: column;

  padding: 1.5rem;

  border: 1px solid var(--frame-border-color);

  background-color: var(--white);

  transition: transform 0.1s ease;
}
.cart.active {
  transform: translateX(0%);
}
.cart__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding-bottom: 1rem;
}

.cart__items {
  display: flex;
  flex-direction: column;

  gap: 1rem;
}

.cart__price {
  display: flex;
  flex-direction: column;

  gap: 0.4rem;

  padding: 1rem 0;
  border-bottom: 1px solid var(--frame-border-color);
}
.cart__price-subtotal,
.cart__price-shipping,
.cart__price-taxes {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}

.cart__total {
  display: flex;
  flex-direction: row;

  justify-content: space-between;

  font-weight: 700;

  padding: 1rem 0;
}

@media (min-width: 768px) {
  .cart {
    position: fixed;
    width: 0;
    overflow: hidden;

    border-radius: 8px;
  }
  .cart.active {
    min-width: 400px;
    width: 20vw;
    overflow: visible;
  }
}

.cart__item {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 1.5rem;

  padding-bottom: 1rem;
  border-bottom: 1px solid var(--frame-border-color);
}
.cart__item-img {
  border-radius: 15px;
  overflow: hidden;
  flex: 1;
}
.cart__item-description {
  text-align: start;
  flex: 4;
}

.cart__item-subtitle {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.cart__item-btns {
  display: flex;
  flex-direction: row;
  gap: 1rem;

  align-items: center;
}

.cart__item-price {
  flex: 1;
  width: fit-content;
  text-align: end;

  font-weight: 600;
}
