.aside-panel__title {
  font-size: var(--text-reg);
  font-weight: var(--text-bold);

  border-bottom: 1px solid var(--frame-border-color);

  padding-bottom: 0.5rem;
}
.aside-panel__subtitle {
  font-size: var(--text-reg);
  font-weight: var(--text-bold);

  padding: 0.5rem 0;
}

.aside-panel__categories-list {
  width: 100%;

  display: flex;
  flex-direction: column;

  font-size: var(--text-sm);
  font-weight: var(--text-bold);

  gap: 0.3rem;
}

.aside-panel__button {
  text-align: start;

  border-radius: 0.4rem;
  padding: 0.3rem 1rem;
}
.aside-panel__button.active {
  color: rgb(14, 43, 175);
  background-color: rgba(158, 199, 243, 0.242);
}

@media (min-width: 768px) {
  .aside-panel__container {
    max-width: 270px;
  }
  .aside-panel__button:hover {
    background-color: #006bf824;
  }
}
