.cart__drawer {
  transform: translateX(150%);

  overflow: hidden;

  width: 100%;
  height: 100%;

  top: 0;
  right: 0;
  position: fixed;
  display: flex;
  flex-direction: column;

  padding: 1.5rem;

  border: 1px solid var(--frame-border-color);

  background-color: var(--white-color);

  transition: transform 0.1s ease;
}
.cart__drawer.active {
  transform: translateX(0%);
}
.cart__drawer-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding-bottom: 1rem;
}

@media (min-width: 768px) {
  .cart__drawer {
    position: fixed;
    width: 0;
    overflow: hidden;

    border-radius: 8px;
  }
  .cart__drawer.active {
    min-width: 400px;
    width: 20vw;
    overflow: visible;
  }
}
