:root {
  --white: #f2f1ef;
  --frame-border-color: rgb(207, 181, 181);
  --color-text: #2f281e;

  --mobile-container-width: 320px;
  --tablet-container-width: 768px;
  --max-desktop-width: 1536px;

  --ff: "Abyssinica SIL", serif;
}

body {
  background-color: var(--white);
  color: var(--color-text);
  font-family: "Abyssinica SIL", serif;
}

html {
  scroll-behavior: smooth;
}
button {
  -webkit-tap-highlight-color: transparent;
}
