.aside-panel__container {
  flex: 1;

  width: 100%;
  height: fit-content;

  background-color: var(--background-color);

  border: 1px solid var(--frame-border-color);
  border-radius: 8px;

  padding: 1rem;
}
