.cart__title {
  font-size: var(--text-xl);

  font-weight: var(--text-bold);

  margin-bottom: 1rem;
}
.cart__items {
  display: flex;
  flex-direction: column;

  gap: 1rem;
}

.cart__price {
  display: flex;
  flex-direction: column;

  gap: 0.4rem;

  padding: 1rem 0;
  border-bottom: 1px solid var(--frame-border-color);
}
.cart__price-subtotal,
.cart__price-shipping,
.cart__price-taxes {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}

.cart__total {
  display: flex;
  flex-direction: row;

  justify-content: space-between;

  font-weight: 700;

  padding: 1rem 0;
}

.cart__item {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 1.5rem;

  padding-bottom: 1rem;
  border-bottom: 1px solid var(--frame-border-color);
}
.cart__item-img {
  border-radius: 15px;
  overflow: hidden;
  flex: 1;
}
.cart__item-description {
  text-align: start;
  flex: 4;
}

.cart__item-subtitle {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.cart__item-btns {
  display: flex;
  flex-direction: row;
  gap: 1rem;

  align-items: center;
}

.cart__item-price {
  flex: 1;
  width: fit-content;
  text-align: end;

  font-weight: 600;
}
