.formContainer {
  border-radius: 0 0 0.4em 0.4rem;
}
.shipping-form__title-container {
  border-radius: 0.4em 0.4rem 0 0;
  margin-bottom: 2px;
}

.form {
  display: flex;
  flex-direction: column;

  gap: 1rem;
}

.addressContainer {
  display: flex;
  flex-direction: column;

  gap: 1rem;
}
