.products__container {
  flex: 2;
  display: flex;
  flex-direction: column;

  gap: 1rem;
}

.products__list {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1rem;
}

@media (min-width: 768px) {
  .products__list {
    grid-template-columns: repeat(2, minmax(0, 1fr));

    flex-wrap: wrap;
    flex-direction: row;
  }
}

@media (min-width: 1100px) {
  .products__list {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
@media (min-width: 1350px) {
  .products__list {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
